In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
ticker = ["AAPL","BA", "KO", "IBM","DIS", "MSFT"]

In [3]:
stocks = yf.download(ticker, start = "2010-01-01" )

[*********************100%***********************]  6 of 6 completed

In [4]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.426000  42.180107  28.090708  81.321312  19.203470  23.389149
2010-01-04  6.526021  43.777561  27.933920  82.284210  19.216949  23.749817
2010-01-05  6.537304  45.211338  27.864237  81.290245  18.984488  23.757488
2010-01-06  6.433319  46.582802  27.716164  80.762184  18.977739  23.611691
2010-01-07  6.421425  48.468563  27.724873  80.482613  18.930580  23.366135

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526071  54.130001  32.25  125.143402  ...  32.27  126.586998
2010-01-04  7.643214  56.180000  32.07  126.625237  ...  32.50  125.411087
2010-01-05  7.656429  58.020000  31.99  125.095604  ...  32.07  125.889099
2010-01-06  7.534643  59.779999  31.82  124.282982  ...  31.90  124.933075
2010-01-07  7.520714  62.200001  31.83  123.852776  ...  31.77  124.158699

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4417676
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6438444
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  7156104
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5863144
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  6109268


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [5]:
stocks.tail()

             Adj Close                                                \
                  AAPL          BA        DIS         IBM         KO
Date
2022-10-11  138.979996  131.570007  93.099998  117.800003  54.480000
2022-10-12  138.339996  130.419998  93.410004  117.570000  55.139999
2022-10-13  142.990005  132.399994  96.639999  121.790001  55.869999
2022-10-14  138.380005  133.149994  94.449997  120.040001  54.980000
2022-10-17  142.410004  136.089996  97.330002  121.519997  55.689999

                             Close                                     ...  \
                  MSFT        AAPL          BA        DIS         IBM  ...
Date                                                                   ...
2022-10-11  225.410004  138.979996  131.570007  93.099998  117.800003  ...
2022-10-12  225.750000  138.339996  130.419998  93.410004  117.570000  ...
2022-10-13  234.240005  142.990005  132.399994  96.639999  121.790001  ...
2022-10-14  228.559998  138.380005  133.149994  94.449997  120.040001  ...
2022-10-17  237.529999  142.410004  136.089996  97.330002  121.519997  ...

                 Open                                        Volume           \
                  DIS         IBM         KO        MSFT       AAPL       BA
Date
2022-10-11  94.809998  117.459999  54.459999  227.619995   77033700  8508400
2022-10-12  93.160004  118.000000  55.230000  225.399994   70433700  6393000
2022-10-13  91.570000  116.099998  54.480000  219.850006  113224000  7842300
2022-10-14  97.470001  121.800003  56.290001  235.539993   88512300  6093900
2022-10-17  96.379997  121.800003  55.630001  235.820007   85073900  9051300


                 DIS      IBM        KO      MSFT
Date
2022-10-11   8900900  4043100  14303900  30474000
2022-10-12   6156200  3338800  18377400  21903900
2022-10-13  11025400  5837500  16220700  42551800
2022-10-14   8202100  3762400  15997900  30187200
2022-10-17   7069500  5458200  13720700  28100600

[5 rows x 36 columns]

In [6]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3221 entries, 2009-12-31 to 2022-10-17
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  3221 non-null   float64
 1   (Adj Close, BA)    3221 non-null   float64
 2   (Adj Close, DIS)   3221 non-null   float64
 3   (Adj Close, IBM)   3221 non-null   float64
 4   (Adj Close, KO)    3221 non-null   float64
 5   (Adj Close, MSFT)  3221 non-null   float64
 6   (Close, AAPL)      3221 non-null   float64
 7   (Close, BA)        3221 non-null   float64
 8   (Close, DIS)       3221 non-null   float64
 9   (Close, IBM)       3221 non-null   float64
 10  (Close, KO)        3221 non-null   float64
 11  (Close, MSFT)      3221 non-null   float64
 12  (High, AAPL)       3221 non-null   float64
 13  (High, BA)         3221 non-null   float64
 14  (High, DIS)        3221 non-null   float64
 15  (High, IBM)        3221 non-null   float64
 16  (High, KO)         3221 non-null   float64
 17  (High, MSFT)       3221 non-null   float64
 18  (Low, AAPL)        3221 non-null   float64
 19  (Low, BA)          3221 non-null   float64
 20  (Low, DIS)         3221 non-null   float64
 21  (Low, IBM)         3221 non-null   float64
 22  (Low, KO)          3221 non-null   float64
 23  (Low, MSFT)        3221 non-null   float64
 24  (Open, AAPL)       3221 non-null   float64
 25  (Open, BA)         3221 non-null   float64
 26  (Open, DIS)        3221 non-null   float64
 27  (Open, IBM)        3221 non-null   float64
 28  (Open, KO)         3221 non-null   float64
 29  (Open, MSFT)       3221 non-null   float64
 30  (Volume, AAPL)     3221 non-null   int64
 31  (Volume, BA)       3221 non-null   int64
 32  (Volume, DIS)      3221 non-null   int64
 33  (Volume, IBM)      3221 non-null   int64
 34  (Volume, KO)       3221 non-null   int64
 35  (Volume, MSFT)     3221 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 931.1 KB

In [7]:
# transfer to csv
stocks.to_csv("stocks.csv", )

In [8]:
# fixing the index back to date
stocks = pd.read_csv("stocks.csv", header= [0,1], index_col = [0], parse_dates = [0])

In [9]:
# removing the multi index column names
stocks.columns = stocks.columns.to_flat_index()
stocks.head()

,"(Adj Close, AAPL)","(Adj Close, BA)","(Adj Close, DIS)","(Adj Close, IBM)","(Adj Close, KO)","(Adj Close, MSFT)","(Close, AAPL)","(Close, BA)","(Close, DIS)","(Close, IBM)",...,"(Open, DIS)","(Open, IBM)","(Open, KO)","(Open, MSFT)","(Volume, AAPL)","(Volume, BA)","(Volume, DIS)","(Volume, IBM)","(Volume, KO)","(Volume, MSFT)"
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,6.426000,42.180107,28.090708,81.321312,19.203470,23.389149,7.526071,54.130001,32.25,125.143402,...,32.27,126.586998,28.790001,30.980000,352410800,2189400,19651700,4417676,10848800,31929700
2010-01-04,6.526021,43.777561,27.933920,82.284210,19.216949,23.749817,7.643214,56.180000,32.07,126.625237,...,32.50,125.411087,28.580000,30.620001,493729600,6186700,13700400,6438444,13870400,38409100
2010-01-05,6.537304,45.211338,27.864237,81.290245,18.984488,23.757488,7.656429,58.020000,31.99,125.095604,...,32.07,125.889099,28.424999,30.850000,601904800,8867800,10307700,7156104,23172400,49749600
2010-01-06,6.433319,46.582802,27.716164,80.762184,18.977739,23.611691,7.534643,59.779999,31.82,124.282982,...,31.90,124.933075,28.174999,30.879999,552160000,8836500,10709500,5863144,19264600,58182400
2010-01-07,6.421425,48.468563,27.724873,80.482613,18.930580,23.366135,7.520714,62.200001,31.83,123.852776,...,31.77,124.158699,28.165001,30.629999,477131200,14379100,8202100,6109268,13234600,50559700

In [10]:
#to get back multi inndex 
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

In [11]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.426000  42.180107  28.090708  81.321312  19.203470  23.389149
2010-01-04  6.526021  43.777561  27.933920  82.284210  19.216949  23.749817
2010-01-05  6.537304  45.211338  27.864237  81.290245  18.984488  23.757488
2010-01-06  6.433319  46.582802  27.716164  80.762184  18.977739  23.611691
2010-01-07  6.421425  48.468563  27.724873  80.482613  18.930580  23.366135

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526071  54.130001  32.25  125.143402  ...  32.27  126.586998
2010-01-04  7.643214  56.180000  32.07  126.625237  ...  32.50  125.411087
2010-01-05  7.656429  58.020000  31.99  125.095604  ...  32.07  125.889099
2010-01-06  7.534643  59.779999  31.82  124.282982  ...  31.90  124.933075
2010-01-07  7.520714  62.200001  31.83  123.852776  ...  31.77  124.158699

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4417676
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6438444
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  7156104
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5863144
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  6109268


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [12]:
# pass 0 to axis level if you want to get the index
stocks.swaplevel(axis= 1)

,AAPL,BA,DIS,IBM,KO,MSFT,AAPL,BA,DIS,IBM,...,DIS,IBM,KO,MSFT,AAPL,BA,DIS,IBM,KO,MSFT
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,6.426000,42.180107,28.090708,81.321312,19.203470,23.389149,7.526071,54.130001,32.250000,125.143402,...,32.270000,126.586998,28.790001,30.980000,352410800,2189400,19651700,4417676,10848800,31929700
2010-01-04,6.526021,43.777561,27.933920,82.284210,19.216949,23.749817,7.643214,56.180000,32.070000,126.625237,...,32.500000,125.411087,28.580000,30.620001,493729600,6186700,13700400,6438444,13870400,38409100
2010-01-05,6.537304,45.211338,27.864237,81.290245,18.984488,23.757488,7.656429,58.020000,31.990000,125.095604,...,32.070000,125.889099,28.424999,30.850000,601904800,8867800,10307700,7156104,23172400,49749600
2010-01-06,6.433319,46.582802,27.716164,80.762184,18.977739,23.611691,7.534643,59.779999,31.820000,124.282982,...,31.900000,124.933075,28.174999,30.879999,552160000,8836500,10709500,5863144,19264600,58182400
2010-01-07,6.421425,48.468563,27.724873,80.482613,18.930580,23.366135,7.520714,62.200001,31.830000,123.852776,...,31.770000,124.158699,28.165001,30.629999,477131200,14379100,8202100,6109268,13234600,50559700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-11,138.979996,131.570007,93.099998,117.800003,54.480000,225.410004,138.979996,131.570007,93.099998,117.800003,...,94.809998,117.459999,54.459999,227.619995,77033700,8508400,8900900,4043100,14303900,30474000
2022-10-12,138.339996,130.419998,93.410004,117.570000,55.139999,225.750000,138.339996,130.419998,93.410004,117.570000,...,93.160004,118.000000,55.230000,225.399994,70433700,6393000,6156200,3338800,18377400,21903900
2022-10-13,142.990005,132.399994,96.639999,121.790001,55.869999,234.240005,142.990005,132.399994,96.639999,121.790001,...,91.570000,116.099998,54.480000,219.850006,113224000,7842300,11025400,5837500,16220700,42551800
2022-10-14,138.380005,133.149994,94.449997,120.040001,54.980000,228.559998,138.380005,133.149994,94.449997,120.040001,...,97.470001,121.800003,56.290001,235.539993,88512300,6093900,8202100,3762400,15997900,30187200
2022-10-17,142.410004,136.089996,97.330002,121.519997,55.689999,237.529999,142.410004,136.089996,97.330002,121.519997,...,96.379997,121.800003,55.630001,235.820007,85073900,9051300,7069500,5458200,13720700,28100600

In [13]:
stocks.swaplevel(axis= 1).sort_index(axis = 1)

                  AAPL                                                  \
             Adj Close       Close        High         Low        Open
Date
2009-12-31    6.426000    7.526071    7.619643    7.520000    7.611786
2010-01-04    6.526021    7.643214    7.660714    7.585000    7.622500
2010-01-05    6.537304    7.656429    7.699643    7.616071    7.664286
2010-01-06    6.433319    7.534643    7.686786    7.526786    7.656429
2010-01-07    6.421425    7.520714    7.571429    7.466071    7.562500
...                ...         ...         ...         ...         ...
2022-10-11  138.979996  138.979996  141.350006  138.220001  139.899994
2022-10-12  138.339996  138.339996  140.360001  138.160004  139.130005
2022-10-13  142.990005  142.990005  143.589996  134.369995  134.990005
2022-10-14  138.380005  138.380005  144.520004  138.190002  144.309998
2022-10-17  142.410004  142.410004  142.899994  140.270004  141.070007

                               BA                                      ...  \
               Volume   Adj Close       Close        High         Low  ...
Date                                                                   ...
2009-12-31  352410800   42.180107   54.130001   55.220001   54.049999  ...
2010-01-04  493729600   43.777561   56.180000   56.389999   54.799999  ...
2010-01-05  601904800   45.211338   58.020000   58.279999   56.000000  ...
2010-01-06  552160000   46.582802   59.779999   59.990002   57.880001  ...
2010-01-07  477131200   48.468563   62.200001   62.310001   59.020000  ...
...               ...         ...         ...         ...         ...  ...
2022-10-11   77033700  131.570007  131.570007  135.360001  129.509995  ...
2022-10-12   70433700  130.419998  130.419998  131.339996  127.860001  ...
2022-10-13  113224000  132.399994  132.399994  134.699997  124.169998  ...
2022-10-14   88512300  133.149994  133.149994  136.410004  131.369995  ...
2022-10-17   85073900  136.089996  136.089996  137.279999  133.259995  ...

                   KO                                        MSFT              \
                 High        Low       Open    Volume   Adj Close       Close
Date
2009-12-31  28.875000  28.465000  28.790001  10848800   23.389149   30.480000
2010-01-04  28.610001  28.450001  28.580000  13870400   23.749817   30.950001
2010-01-05  28.495001  28.070000  28.424999  23172400   23.757488   30.959999
2010-01-06  28.219999  27.990000  28.174999  19264600   23.611691   30.770000
2010-01-07  28.184999  27.875000  28.165001  13234600   23.366135   30.450001
...               ...        ...        ...       ...         ...         ...
2022-10-11  55.220001  54.240002  54.459999  14303900  225.410004  225.410004
2022-10-12  56.040001  55.040001  55.230000  18377400  225.750000  225.750000
2022-10-13  56.080002  54.259998  54.480000  16220700  234.240005  234.240005
2022-10-14  56.470001  54.939999  56.290001  15997900  228.559998  228.559998
2022-10-17  56.220001  55.570000  55.630001  13720700  237.529999  237.529999


                  High         Low        Open    Volume
Date
2009-12-31   30.990000   30.480000   30.980000  31929700
2010-01-04   31.100000   30.590000   30.620001  38409100
2010-01-05   31.100000   30.639999   30.850000  49749600
2010-01-06   31.080000   30.520000   30.879999  58182400
2010-01-07   30.700001   30.190001   30.629999  50559700
...                ...         ...         ...       ...
2022-10-11  229.059998  224.110001  227.619995  30474000
2022-10-12  227.860001  223.960007  225.399994  21903900
2022-10-13  236.100006  219.130005  219.850006  42551800
2022-10-14  237.240005  228.339996  235.539993  30187200
2022-10-17  238.960007  235.139999  235.820007  28100600

[3221 rows x 36 columns]